@import url('../../assets/css/style.css');


nav{
  font-family:'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 50px;
  width: 100%;
  position: fixed;
  border:0px double palevioletred;
  opacity: 0.9;
  z-index: 1;
  top:0;
  margin-bottom: 100px;

}

ul{
  list-style-type: none;
  overflow:hidden;
  background-color: darkgray;
  text-align: -webkit-right;
}

nav li {
  display: inline-block;
  width: auto;
  color:blue;
  z-index: 1;
}

nav li a{
  display:inline-block;
  padding: 10px; /* distance between words in navigation*/
  color:black;
  text-decoration: none;
  font-weight:bolder;
}


nav ul li:hover{
  background-color: cornflowerblue	;
}

nav ul li a:hover{
  color: #fff5ee;	;
}

nav li:hover ul{
  display:inline-block;
  background-color: #FFF5EE;
  opacity: 0.7;
  width:10%;
}

