<app-header></app-header>

<form (ngSubmit)="creteUser()" class = "loginForm">

  <br>


  <div class="form-group">
    <label for="userName">Email address</label>
    <input class="form-control" type="text" name="userName" id="userName" [(ngModel)]="userName"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password"/>
  </div>


  <div>
    <button class="btn btn-info">Login</button>
  </div>
</form>
