
<app-header></app-header>

<div class = "h1Words" >

<h1>Hello, welcome to Wayfarer!</h1>

  <hr>
  <table id="table" border="1" width="auto" margin="auto">
    <thead></thead>
    <tbody>
    <tr  text-align="left" border-color="silver">
      <td><label id = "firstName">First Name: </label></td>
      <td><span id="span_firstName">{{this.currentUserFirstName}}</span></td>
    </tr>
    <tr>
      <td><label id = "lastName">Last Name: </label></td>
      <td><span id="span_lastName">{{this.currentUserLastName}}</span></td>
    </tr>
    <tr>
      <td><label id = "email">Email: </label></td>
      <td><span id="span_email">{{this.currentUserEmail}}</span></td>
    </tr>
    <tr>
      <td><label id = "city">City: </label></td>
      <td><span id="span_city">{{this.currentUserCity}}</span></td>
    </tr>
    <tr>
      <td><label id = "zipcode">Zipcode: </label></td>
      <td><span id="span_zipcode">{{this.currentUserZipcode}}</span></td>
    </tr>
    <tbody>
    <tfoot></tfoot>
  </table>

  <hr>
<br><br>
</div>
