.h1Words{
  margin-top: 10%;
  text-align:center;
  color: palevioletred;
}

#firstname{
  color:cornflowerblue;
  font-size: 20px;
}

.signupForm{
  margin-top: 3%;
}

.form-group{
  color:palevioletred;
  width:44%;
  margin-left: 28%;
}
